@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #e3f2fd;
}

.container{
    position: relative;
    max-width: 480px;
    background-color: #fff;
    width: 100%;
    border: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 85px auto 0;
    border-radius: 8px;
    padding: 25px;
}

.container .input-fields{
    position: relative;
    width: 100%;
    height: 64px;
}

.container .input-fields textarea{
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 18px 45px 18px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    resize: none;
}
textarea::-webkit-scrollbar{
    display: none;
}
.input-fields textarea:focus{
    border-color: #4070f4;
}

.input-fields i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #707070;
    pointer-events: none;
}
.input-fields textarea:focus ~ i{
    color: #4070f4;
    
}

.container .todoLists{
    max-height: 380px;
    overflow-y: auto;
    padding-right: 10px;
}

.todoLists .list{
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px 15px;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.list input{
    height: 16px;
    min-width: 16px;
    accent-color: #4070f4;
    pointer-events: none;
}
.list input:checked ~ .task{
    text-decoration: line-through;
}

.list .task{
    padding: 0 30px 0 15px;
    word-break: break-all;
}

.list i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
    opacity: 0.6;
    padding: 5px;
    display: none;
}
.todoLists .list:hover i{
    display: inline-flex;
}
.list i:hover{
    opacity: 1;
    
}

.container .pendingTasks{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pendingTasks span{
    color: #333;
}

.pendingTasks .clear{
    padding: 6px 12px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #4070f4;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    pointer-events: none;
    white-space: nowrap;
}
.pendingTasks .clear:hover{
    background-color: #0e4bf1;
}

@media screen and (max-width: 350px){
    .container{
        padding: 25px 10px;
    }
}